extends layout

block content
    h1 #{title}: #{bookinstance.book.title}
    p Do you really want to delete #{bookinstance.book.title}?
    p Author: #{bookinstance.book.author.first_name} #{bookinstance.book.author.family_name}
    p #{bookinstance.imprint}


    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete
